@tailwind base;
@tailwind components;
.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

@tailwind utilities;

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full border-2 border-zinc-900;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
